:root {
  --gradient-color: linear-gradient(90deg, #1e38a3, #021048);
  --black: black;
  --white: #ddebfe;
  --blue-1: #1e38a3;
}
body {
  background-color: #eef3fa;
}

.navbar {
  padding-left: 95px !important;
  background-color: var(--white);
  border-bottom: 2px solid gray;
}

.navbar-brand img {
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.nav-link {
  margin-left: 30px;
  color: var(--black);
}

.drop-down a {
  font-weight: bold;
  color: var(--black);
}

.nav-link:hover,
.dropdown-menu a:hover {
  color: var(--blue-1);
}
#Log_In {
  background-color: #a1c7ff;
  border: 1px solid rgb(158, 163, 250);
  margin-right: 95px;
  
}
#Log_In a {
  text-decoration: none;
  color: white;
  
}
#Log_In span{
  color: white;
}
@media (max-width: 991px) {
  .navbar {
    padding-left: 0px !important;
  }
  #Log_In {
    margin-top: 20px;
    margin-left: 0px !important;
  }
  .iitem {
    margin-left: -30px;
  }
}
